// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: $button-bg;
  padding: 7px 20px;
  box-shadow: $button-box-shadow;
  color: $button-color;
  font-size: 14px;
  line-height: 14px;
  font-family: Lucida Sans Unicode;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  text-decoration: none;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-color: $button-border-color;
  border-radius: $btn-border-radius;
  position: relative;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    background: $button-hover-bg;
    color: $button-color;
    text-decoration: none;
    outline: none;
  }

  &:active,
  &.active {
    text-decoration: none;
    background: $button-active-bg;
    box-shadow:  $button-active-box-shadow;
    outline: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $button-disabled-color;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background: $button-bg;
      cursor: default;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
