.media {
  display: flex;
  align-items: flex-start;

  img {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.15);
  }
}

.media-body {
  flex: 1;
  color: #a3a3a3;

  h1, h2, h3, h4, h5 {
    color: #fff;
    font-weight: normal;
  }
}
