// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    background: linear-gradient(to bottom, rgba(120,108,92,0.8) 0%, rgba(120,108,92,0) 80%);
    margin-left: 1.5px;
    margin-right: 1.5px;
    border: $nav-tabs-border-width solid $nav-tabs-border-color;
    border-top-color: $nav-tabs-border-top-color;
    color: $nav-tabs-link-color;
    box-shadow: $nav-tabs-box-shadow;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 4px;

    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-border-color;
      border-top-color: $nav-tabs-border-top-color;
      box-shadow: $nav-tabs-hover-box-shadow;
    }

    &.disabled {
      color: $nav-link-disabled-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    border-color: $nav-tabs-link-active-border-color;
    border-top-color: $nav-tabs-border-top-color;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 2px;

    @include hover-focus {
      box-shadow: $nav-tabs-box-shadow;
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
    color: $list-group-color;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $list-group-bg;
      -webkit-mask-image: $list-group-mask;
      mask-image: $list-group-mask;
    }

    @include hover-focus {
      &:before {
        background: $list-group-hover-bg;
      }
    }

    &.disabled {
      color: $nav-link-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: $list-group-active-color;
  }
}


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
