.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: 4px;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background: $pagination-bg;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-color: $button-border-color;
  border-radius: $btn-border-radius;
  box-shadow: $button-box-shadow;
  outline: none;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background: $pagination-hover-bg;
    outline: none;
  }

  &:focus {
    z-index: 2;
    text-decoration: none;
    background: $button-active-bg;
    box-shadow:  $button-active-box-shadow;
    outline: none;
  }
}

.page-item {
  .page-link {
    @include border-radius($border-radius);
  }

  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background: $pagination-bg;
    border-color: $pagination-active-border-color;
    &:hover {
      background: $pagination-bg;
    }
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
