.toast {
  max-width: $toast-max-width;
  overflow: hidden; // cheap rounded corners on nested items
  @include font-size($toast-font-size);
  color: $toast-color;
  background: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  backdrop-filter: blur(10px);
  opacity: 0;
  @include border-radius($toast-border-radius);
  position: relative;
  padding-left: 16px; 

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }

  &.showing {
    opacity: 1;
  }

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: none;
  }

  .close {
    color: #f4e1bf;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  }
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    background: $toast-bar;
    border-left: 1px solid $toast-bar-border-color;
    border-top: 2px solid #6B563A;
    border-bottom: 2px solid #6B563A;
    box-shadow: inset 1px 0px 0px 0px rgba(98,76,54,1), inset 2px 0px 0px 0px #313029,  inset 0px 1px 0px 0px rgba(72,58,39,1), inset 0px -1px 0px 0px rgba(72,58,39,1), 0px -3px 0px 0px rgba(72,58,39,1), 0px 3px 0px 0px rgba(72,58,39,1);
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #817964;
    border-left: 1px solid rgba(0,0,0,0.75);
    border-right: 1px solid #5C4F3E;
  }
}

.toast-header {
  display: flex;
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
  padding-bottom: 0;
  color: $toast-header-color;
  background-clip: padding-box;
}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
}
